/frontend/node_modules/
/frontend/.next/
/frontend/.env*
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/.bundle/
/backend/log/*
/backend/tmp/*
!/backend/tmp/.keep
/backend/storage/*
!/backend/storage/.keep
/backend/config/master.key
/backend/public/assets
/backend/.env*

.DS_Store